body{
    background-color: rgb(216, 211, 207);
    font-family: Zalando Sans;
}
header{
    font-size: 50px;
    text-align: center;
    background-color:black ;
    color:aliceblue ;
boarder:
}
.top1{
    text-align: center;
    padding-bottom: 40px;
}